/*#region Core */
html, body {
    margin: 0;
    height: 100%;
}

header {
	background-color: #38444d;
	position: fixed;
	z-index: 100;
	width: 100%;
	border-bottom: 1px solid;
	margin-bottom: 150px;
}

body {
	color: white;
	background-image: url(../img/wallpaper.jpg);
	background-attachment: fixed;
	background-size: 100%;
	display:flex; 
	flex-direction:column;
}

.display {
	position: relative;
	z-index: auto;
	flex-grow: 20;
}

footer {
	text-align: center;
	border-top: 1px solid;
	flex-grow: 1;
	bottom:0;
    height: 50px;
}
footer, footer div {
	background-color: #38444d;
}
footer p, footer a {
	color: gray;
    display: inline;
    vertical-align: top;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 28px;
	margin: 0;
	padding: 5px;
}
/*#endregion*/


/*#region Members*/
aside {
	background-color: #38444d;
	padding: 20px;
	margin: 130px 0 0 0;
	min-height: 50vh;
	max-height: 70vh;
	width: 250px;
	word-wrap: break-word;
	position: fixed;
	left: 30px;
}
aside p, aside h1, aside h3 {
    display: inline;
    vertical-align: top;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 28px;
	margin: 0;
}
aside h1 {
    font-size: 20px;
}
aside h3 {
    font-size: 18px;
}
aside div {
	margin-top: 5px;
}

article {
	background-color: #38444d;
	padding: 30px;
	max-width: 90vh;
	margin: 0 20% 10px 350px;
}
article p {
	margin: 0;
}
/*#endregion*/



/* Misc */
.flexRow {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.flexCol {
	display: flex;
	flex-direction: column;
}


/*#region Dropdown */
header ul {
	background-color: #38444d;
	list-style-type: none;
	margin: auto;
	padding: 0;
	overflow: hidden;
}

header h2 {
	margin: 0;
}

header li {
	float: left;
}

.dropbtn {
	color: white;
	display: inline-block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.dropdown:hover .dropbtn {
	background-color: red;
}

li.dropdown {
	display: inline-block;
}

.dropdown-content {
	background-color: #464646;;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	display: none;
	position: absolute;
	min-width: 160px;
}

.dropdown-content a {
	color: white;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.dropdown-content a:hover {
	background-color: #575757;
}

.dropdown:hover .dropdown-content {
	display: block;
}
/*#endregion*/
