html {
	margin: auto;
}

header {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #464646;
	border-bottom: 1px solid;
}

body {
	background-image: url(../img/wallpaper.jpg);
	background-attachment: fixed;
	background-size: 100%;
	margin: auto;
	color: white;
}

article {
	margin: 13% 20% 10% 7%;
	padding: 2%;
	background-color: #464646;
}
article p {
	margin: 0;
}

/*
footer {
	color: gray;
	background-color: #464646;
	border-top: 1px solid;
}

footer p {
	bottom: 0;
	margin: 0px 0px 0px 0px;
}
*/
.flexRow {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.flexCol {
	display: flex;
	flex-direction: column;
}



/* Dropdown */
header ul {
	list-style-type: none;
	margin: auto;
	padding: 0;
	overflow: hidden;
	background-color: #38444d;
}

header h2 {
	margin: 0;
}

header li {
	float: left;
}

.dropbtn {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.dropdown:hover .dropbtn {
	background-color: red;
}

li.dropdown {
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.dropdown-content a:hover {
	background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
	display: block;
}